{% extends 'layouts/base.html'%}

{%load static%}

{%block content%}


<div class="container">
    <div class="row">
        <h1>Registro de mascota</h1>
    </div>
    <form action="" method="POST">
        <div class="row mt-4">
            <div class="col-md-5">
                <div class="row">
                    <div class="input-group col-5">
                        <input type="file" class="form-control" id="inputGroupFile04"
                            aria-describedby="inputGroupFileAddon04" aria-label="Upload">
                    </div>
                </div>
                <div class="row mt-4">
                    <div class="col-3"></div>
                    <div class="col-5" style="height: 20rem; width: 15rem; border: 1px solid black;">
                        <img src="" alt="imagen" class="" style="height: 20rem; width: 15rem;">
                    </div>
                </div>
            </div>
            <div class="col-1"></div>
            <div class="col-md-5">
                <div class="mb-3 row">
                    <label for="masnombre" class="col-sm-3 col-form-label">Nombre:</label>
                    <div class="col-sm-9">
                        <input type="text" readonly class="form-control" id="masnombre" required>
                    </div>
                </div>
                <hr>
                <div class="mb-3 row">
                    <label for="generomas" class="col-sm-3 col-form-label">Genero:</label>
                    <div class="col-sm-9">
                        <select class="form-select" aria-label="Default select example" name="genero" required>
                            <option selected>Seleccione el género...</option>
                            <option value="Macho">Macho</option>
                            <option value="Hembra">Hembra</option>
                        </select>
                    </div>
                </div>
                <hr>
                <div class="mb-3 row">
                    <label for="razamas" class="col-sm-3 col-form-label">Raza:</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" id="razamas" required>
                    </div>
                </div>
                <hr>
                <div class="mb-3 row">
                    <label for="colormas" class="col-sm-3 col-form-label">Personalidad:</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" id="colormas">
                    </div>
                </div>
                <hr>
                <div class="mb-3 row">
                    <label for="colormas" class="col-sm-3 col-form-label">Edad:</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" id="colormas">
                    </div>
                </div>
                <hr>
                <div class="mb-3 row">
                    <label for="colormas" class="col-sm-3 col-form-label">Tamaño:</label>
                    <div class="col-sm-9">
                        <select class="form-select" aria-label="Default select example" name="tamano" required>
                            <option selected>Seleccione el tamaño...</option>
                            <option value="Pequeño">Pequeño</option>
                            <option value="Mediano">Mediano</option>
                            <option value="Grande">Grande</option>
                        </select>
                    </div>
                </div>
                <hr>
                <div class="mb-3 row">
                    <label for="colormas" class="col-sm-3 col-form-label">Ubicacion:</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" id="colormas">
                    </div>
                </div>
                <hr>
                <div class="mb-3 row">
                    <label for="colormas" class="col-sm-3 col-form-label">Historial clinico:</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" id="colormas">
                    </div>
                </div>
                <hr>
            </div>
        </div>
        <div class="row">
            <div class="col-3"></div>
            <div class="col-6">
                <div class="row">Subir video de la mascota</div>
                <div class="row">
                    <input type="file" class="form-control" id="inputGroupFile04"
                    aria-describedby="inputGroupFileAddon04" aria-label="Upload">
                </div>
                
            </div>
        </div>
    </form>
</div>


{% endblock %}