{% extends 'layouts/base.html'%}

{%load static%}

{%block content%}
<h1>Catalogo</h1>

<div class="container">
    <div class="row">
        <div class="col-md-5">
            <div class="row">
                <div class="input-group col-5">
                    <input type="file" class="form-control" id="inputGroupFile04"
                        aria-describedby="inputGroupFileAddon04" aria-label="Upload">
                    <button class="btn btn-outline-secondary" type="button" id="inputGroupFileAddon04">Button</button>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <img src="" alt="">
                </div>
            </div>
        </div>

        <div class="col-md-6">
            
        </div>
    </div>
</div>


{% endblock %}